#workout_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.program_image
        %h1= @workout.name
      .panel-body
        %h3= "Exercises"
        = render "exercises/exercise"

      .panel-footer
        .row
          .btn-group.pull-right
            = link_to "Edit", edit_program_workout_path, class: "btn btn-default"
            = link_to "Delete", program_workout_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"