#program_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.program_image
        =image_tag  "redbarbell.jpg", :class => "my_class", size: "200x200"
      .panel-body
        %h1= @program.title
        %p= @program.description

      .panel-footer
        .row
          .col-md-6
            %p
            Submitted by
            = @program.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to "Edit", edit_program_path, class: "btn btn-default"
              = link_to "Delete", program_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"

#workouts_show
  .panel.panel-default
    .panel.panel-title
      %h4 Workouts
  = link_to "Add Workout", new_program_workout_path(@program.id), class: "btn btn-default"
  = render "workouts/workout"