= simple_form_for( [@program, @workout, @workout.exercises.build], html: {mulipart: true}) do |f|
  - if @exercise.errors.any?
    #errors
      %h2
      = pluralize(@exercise.errors.count, "error")
      prevented this Program from saving
      %u1
        - @exercise.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.input :name, input_html: { class: 'form-control'}

  = f.button :submit, class: "btn btn-primary"